In [10]:
#!pip install numpy

# üß© Actividad pr√°ctica: NumPy y Pandas
Este notebook incluye ejercicios b√°sicos de **NumPy** y **Pandas** para practicar el an√°lisis de datos.

## üìä Parte 1: NumPy - Operaciones b√°sicas

### 1Ô∏è‚É£ Crear un array NumPy con 10 n√∫meros enteros

In [51]:
import numpy as np

array = np.array([25, 4, 18, 20, 1, 12, 14, 9, 6, 8])
array_2d = np.array(
    [
        [1, 2, 3],
        [4, 5, 6,]
    ]
)
print(array)
print(array_2d)

[25  4 18 20  1 12 14  9  6  8]
[[1 2 3]
 [4 5 6]]

### 2Ô∏è‚É£ Mostrar las propiedades del array: dimensi√≥n, tipo de dato y forma

In [76]:
print("Propiedades del Array:")
print("Dimensi√≥n: ", array.ndim)
print("Tipo de dato: ", array.dtype)
print("Forma: ", array.shape)
print("Tama√±o: ", array.size)
print("Dimension 2d:", array_2d.ndim)
# (Cantidad dimensiones, Cantidad de elementos por cada dimensi√≥n)
print("Forma 2d: ", array_2d.shape)
print("Tama√±o 2d: ", array_2d.size)

Propiedades del Array:
Dimensi√≥n:  1
Tipo de dato:  int64
Forma:  (10,)
Tama√±o:  10
Dimension 2d: 2
Forma 2d:  (2, 3)
Tama√±o 2d:  6

### 3Ô∏è‚É£ Ordenar los valores del array

In [56]:
array.sort()  # in place, modifica la variable ya existente (no devuelve un resultado)
print(array)

[ 1  4  6  8  9 12 14 18 20 25]

### 4Ô∏è‚É£ Calcular el promedio del array

In [59]:
promedio = array.mean()
print("Promedio: ", promedio)

Promedio:  11.7

### 5Ô∏è‚É£ Mostrar el valor m√°ximo y el valor m√≠nimo

In [63]:
maximo = array.max()
minimo = array.min()
print("Valor m√°ximo: ", maximo)
print("Valor m√≠nimo: ", minimo)

Valor m√°ximo:  25
Valor m√≠nimo:  1

In [72]:
array_decimales = np.array([11.5, 55.26, 89.9, 14.5])
print(array_decimales.ndim)
print(array_decimales.shape)
print(array_decimales.dtype)

1
(4,)
float64

In [71]:
# Redondear decimales
array_round = array_decimales.round()
print("Array decimales: ", array_decimales)
print("Array redondeado: ", array_round)

Array decimales:  [11.5  55.26 89.9  14.5 ]
Array redondeado:  [12. 55. 90. 14.]

In [77]:
array_decimales = np.array([11.568, 55.2699, 89.95, 14.511])
array_round_1 = array_decimales.round(1)
print("Array redondeado a 1 decimal: ", array_round_1)

Array redondeado a 1 decimal:  [11.6 55.3 90.  14.5]

## üêº Parte 2: Pandas - Dataset *tips*

Usaremos el dataset **tips** de la librer√≠a `seaborn`. Este conjunto contiene datos sobre propinas en un restaurante.

In [1]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')

### 1Ô∏è‚É£ Mostrar las primeras 3 filas del dataset

In [2]:
df = pd.DataFrame(tips)
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

### 2Ô∏è‚É£ Mostrar las √∫ltimas 5 filas del dataset

In [ ]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [54]:
df.loc[1:2, ]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3

In [63]:
df.iloc[1:2, 0:4]

   total_bill   tip   sex smoker
1       10.34  1.66  Male     No

In [ ]:
df['sex'].unique()  # ver los valores unicos de la columna

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [77]:
df['sex'].nunique()  # ver la cantidad de valores unicos de la columna

2

### 3Ô∏è‚É£ Calcular la sumatoria total de la columna `tip` (propina)

In [12]:
sum_tip = df['tip'].sum()
print("Sumatoria total de la columna 'tip': ", sum_tip)

Sumatoria total de la columna 'tip':  731.5799999999999

### 4Ô∏è‚É£ Calcular el promedio de la cuenta (`total_bill`) de los hombres

In [21]:
mens = df['sex'] == 'Male'
promedio_total_bill = df[mens]['total_bill'].mean()
print("Promedio de 'total_bill' de los hombres: ",promedio_total_bill)

Promedio de 'total_bill' de los hombres:  20.744076433121016

### 5Ô∏è‚É£ Calcular el promedio de la cuenta (`total_bill`) de las mujeres

In [ ]:
# Tu c√≥digo aqu√≠ üëá

### 6Ô∏è‚É£ Calcular el promedio de la cuenta (`total_bill`) de mujeres fumadoras

In [ ]:
# Tu c√≥digo aqu√≠ üëá

### 7Ô∏è‚É£ Calcular la propina promedio (`tip`) de los d√≠as s√°bado y domingo

In [ ]:
# Tu c√≥digo aqu√≠ üëá

### 8Ô∏è‚É£ Filtrar filas donde la propina (`tip`) sea mayor al promedio general de las propinas
üí° Usa `tips['tip'].mean()` para calcular el promedio antes de aplicar el filtro.

In [ ]:
# Calcular el promedio de propinas
promedio_propina = tips['tip'].mean()

# Filtrar filas con propinas mayores al promedio
# Tu c√≥digo aqu√≠ üëá