In [36]:
import pandas as pd

df = pd.read_excel('../data/dataset_ventas_2025.xlsx')
df.head()

,Producto,CategoriaProducto,Precio,Descuento,PrecioFinal,Ventas,IngresoTotal
0,Bufanda,Accesorio,464.10,16.04,448.06,18,8065.08
1,Pantalón,Ropa,87.66,35.64,52.02,7,364.14
2,Sandalias,Calzado,197.91,34.77,163.14,11,1794.54
3,Pantalón,Ropa,408.50,20.15,388.35,2,776.70
4,Zapatos,Calzado,213.42,29.74,183.68,10,1836.80

**AP1: Método apply()**

Ejercicio 1: Usa apply() para que la columna Producto tenga la primera letra en mayúscula y el resto en minúscula.

Ejercicio 2: Usa apply() con axis=1 para crear una nueva columna "PrecioConDescuento" que reste la columna Descuento al Precio.

Ejercicio 3: Crea una columna "CategoriaVentas" que clasifique los productos según la columna Ventas:

- "Baja" si tiene menos de 10 ventas
- "Media" si tiene entre 10 y 15 ventas
- "Alta" si tiene más de 15 ventas

In [37]:
# Ejercicio 1: Aplicar formato capitalizado (primera letra mayúscula, resto minúscula)
# str.capitalize() convierte la primera letra en mayúscula y el resto en minúscula
df['Producto'] = df['Producto'].apply(lambda x: x.capitalize())
print("Productos capitalizados:")
df['Producto'].head()

Productos capitalizados:

0      Bufanda
1     Pantalón
2    Sandalias
3     Pantalón
4      Zapatos
Name: Producto, dtype: object

In [38]:
# Ejercicio 2: Crear columna PrecioConDescuento
# axis=1 indica que apply() se aplica por fila (horizontal)
# Restamos el descuento al precio para obtener el precio con descuento
df['PrecioConDescuento'] = df.apply(lambda fila: fila['Precio'] - fila['Descuento'], axis=1)
print("Precio con Descuento:")
df[['Producto', 'Precio', 'Descuento', 'PrecioConDescuento']].head()

Precio con Descuento:

    Producto  Precio  Descuento  PrecioConDescuento
0    Bufanda  464.10      16.04              448.06
1   Pantalón   87.66      35.64               52.02
2  Sandalias  197.91      34.77              163.14
3   Pantalón  408.50      20.15              388.35
4    Zapatos  213.42      29.74              183.68

In [39]:
# Ejercicio 3: Crear columna CategoriaVentas según el número de ventas
# Condicionales para clasificar las ventas en tres categorías
def clasificar_ventas(ventas):
    if ventas < 10:
        return "Baja"
    elif ventas <= 15:  # Entre 10 y 15
        return "Media"
    else:  # Más de 15
        return "Alta"

df['CategoriaVentas'] = df['Ventas'].apply(clasificar_ventas)
print("Categoría de Ventas:")
print(df[['Producto', 'Ventas', 'CategoriaVentas']].head(10))
print("\n")

# Verificar el resultado con value_counts()
print("Distribución de categorías:")
print(df['CategoriaVentas'].value_counts())

Categoría de Ventas:
    Producto  Ventas CategoriaVentas
0    Bufanda      18            Alta
1   Pantalón       7            Baja
2  Sandalias      11           Media
3   Pantalón       2            Baja
4    Zapatos      10           Media
5      Gorra      11           Media
6      Reloj      20            Alta
7      Reloj      11           Media
8    Bufanda      15           Media
9   Pantalón      20            Alta


Distribución de categorías:
CategoriaVentas
Baja     80
Media    72
Alta     48
Name: count, dtype: int64

**AP2: Funciones lambda con apply()**


Ejercicio 4: Usa una función lambda con apply() para que en la columna PrecioFinal reste 50 solo a los precios mayores a 200.

Ejercicio 5: Crea una nueva columna "Etiqueta" que:

- Ponga la primera letra del producto en mayúscula
- El resto en minúscula
- Agregue al final el texto " - En venta"


Ejemplo: "Camisa - En venta"

In [40]:
# Ejercicio 4: Crear columna PrecioFinal con lambda
# Si el precio es mayor a 200, restamos 50, de lo contrario dejamos el precio original
df['PrecioFinal'] = df['Precio'].apply(lambda x: x - 50 if x > 200 else x)
print("Precio Final (descuento de 50 si precio > 200):")
print(df[['Producto', 'Precio', 'PrecioFinal']].head(10))
print("\n")

# Mostrar solo los productos con descuento aplicado
productos_con_descuento = df[df['Precio'] > 200][['Producto', 'Precio', 'PrecioFinal']]
print("Productos con descuento aplicado:")
print(productos_con_descuento.head())

Precio Final (descuento de 50 si precio > 200):
    Producto  Precio  PrecioFinal
0    Bufanda  464.10       414.10
1   Pantalón   87.66        87.66
2  Sandalias  197.91       197.91
3   Pantalón  408.50       358.50
4    Zapatos  213.42       163.42
5      Gorra  383.50       333.50
6      Reloj  108.68       108.68
7      Reloj   32.59        32.59
8    Bufanda  237.38       187.38
9   Pantalón   62.40        62.40


Productos con descuento aplicado:
   Producto  Precio  PrecioFinal
0   Bufanda  464.10       414.10
3  Pantalón  408.50       358.50
4   Zapatos  213.42       163.42
5     Gorra  383.50       333.50
8   Bufanda  237.38       187.38

In [41]:
# Ejercicio 5: Crear columna Etiqueta con formato especial
# Aplicamos capitalize() y agregamos " - En venta" al final
df['Etiqueta'] = df['Producto'].apply(lambda x: x.capitalize() + " - En venta")
print("Ejercicio 5 - Etiqueta de productos:")
print(df['Etiqueta'].head(10))
print("\n")

# Mostrar dataframe con las nuevas columnas
print("Vista general del dataframe actualizado:")
print(df[['Producto', 'Etiqueta', 'Precio', 'PrecioFinal']].head())

Ejercicio 5 - Etiqueta de productos:
0      Bufanda - En venta
1     Pantalón - En venta
2    Sandalias - En venta
3     Pantalón - En venta
4      Zapatos - En venta
5        Gorra - En venta
6        Reloj - En venta
7        Reloj - En venta
8      Bufanda - En venta
9     Pantalón - En venta
Name: Etiqueta, dtype: object


Vista general del dataframe actualizado:
    Producto              Etiqueta  Precio  PrecioFinal
0    Bufanda    Bufanda - En venta  464.10       414.10
1   Pantalón   Pantalón - En venta   87.66        87.66
2  Sandalias  Sandalias - En venta  197.91       197.91
3   Pantalón   Pantalón - En venta  408.50       358.50
4    Zapatos    Zapatos - En venta  213.42       163.42

**AP3: pd.cut()**


Ejercicio 6: Usa pd.cut() para crear una columna "CategoriaIngreso" que clasifique la columna IngresoTotal en:

- 0–3000 → "Bajo"
- 3001–6000 → "Medio"
- 6001–10000 → "Alto"

Ejercicio 7: Usa pd.cut() para crear una columna "RangoVentas" que clasifique la columna Ventas en:

- 0–5 → "Muy Bajo"
- 6–10 → "Bajo"
- 11–15 → "Medio"
- 16–20 → "Alto"

In [42]:
# Ejercicio 6: Clasificar IngresoTotal en categorías usando pd.cut()
# pd.cut() divide una columna numérica en intervalos (bins)
# bins: define los límites de cada intervalo
# labels: define las etiquetas para cada intervalo
# include_lowest=True: incluye el valor mínimo en el primer intervalo

bins_ingreso = [0, 3000, 6000, 10000]
labels_ingreso = ['Bajo', 'Medio', 'Alto']
df['CategoriaIngreso'] = pd.cut(df['IngresoTotal'], bins=bins_ingreso, labels=labels_ingreso, include_lowest=True)

print("Categoría de Ingreso:")
print(df[['Producto', 'IngresoTotal', 'CategoriaIngreso']].head(10))
print("\n")

# Verificar la distribución de categorías de ingreso
print("Distribución de Categoría de Ingreso:")
print(df['CategoriaIngreso'].value_counts().sort_index())

Categoría de Ingreso:
    Producto  IngresoTotal CategoriaIngreso
0    Bufanda       8065.08             Alto
1   Pantalón        364.14             Bajo
2  Sandalias       1794.54             Bajo
3   Pantalón        776.70             Bajo
4    Zapatos       1836.80             Bajo
5      Gorra       3703.26            Medio
6      Reloj       1271.00             Bajo
7      Reloj        354.42             Bajo
8    Bufanda       2911.80             Bajo
9   Pantalón        706.00             Bajo


Distribución de Categoría de Ingreso:
CategoriaIngreso
Bajo     132
Medio     44
Alto      24
Name: count, dtype: int64

In [43]:
# Ejercicio 7: Clasificar Ventas en rangos usando pd.cut()
# Creamos 4 intervalos para clasificar las ventas
bins_ventas = [0, 5, 10, 15, 20]
labels_ventas = ['Muy Bajo', 'Bajo', 'Medio', 'Alto']
df['RangoVentas'] = pd.cut(df['Ventas'], bins=bins_ventas, labels=labels_ventas, include_lowest=True)

print("Rango de Ventas:")
print(df[['Producto', 'Ventas', 'RangoVentas']].head(10))
print("\n")

# Verificar la distribución de rangos de ventas
print("Distribución de Rango de Ventas:")
print(df['RangoVentas'].value_counts().sort_index())

Rango de Ventas:
    Producto  Ventas RangoVentas
0    Bufanda      18        Alto
1   Pantalón       7        Bajo
2  Sandalias      11       Medio
3   Pantalón       2    Muy Bajo
4    Zapatos      10        Bajo
5      Gorra      11       Medio
6      Reloj      20        Alto
7      Reloj      11       Medio
8    Bufanda      15       Medio
9   Pantalón      20        Alto


Distribución de Rango de Ventas:
RangoVentas
Muy Bajo    44
Bajo        48
Medio       60
Alto        48
Name: count, dtype: int64

In [44]:
# Vista general final del dataframe con todas las columnas creadas
print("Vista general final del dataframe con todas las columnas creadas")
print("Columnas creadas exitosamente:")
print(df.columns.tolist())
print("\n")
print("Muestra de datos completos:")
print(df.head())

Vista general final del dataframe con todas las columnas creadas
Columnas creadas exitosamente:
['Producto', 'CategoriaProducto', 'Precio', 'Descuento', 'PrecioFinal', 'Ventas', 'IngresoTotal', 'PrecioConDescuento', 'CategoriaVentas', 'Etiqueta', 'CategoriaIngreso', 'RangoVentas']


Muestra de datos completos:
    Producto CategoriaProducto  Precio  Descuento  PrecioFinal  Ventas  \
0    Bufanda         Accesorio  464.10      16.04       414.10      18
1   Pantalón              Ropa   87.66      35.64        87.66       7
2  Sandalias           Calzado  197.91      34.77       197.91      11
3   Pantalón              Ropa  408.50      20.15       358.50       2
4    Zapatos           Calzado  213.42      29.74       163.42      10

   IngresoTotal  PrecioConDescuento CategoriaVentas              Etiqueta  \
0       8065.08              448.06            Alta    Bufanda - En venta
1        364.14               52.02            Baja   Pantalón - En venta
2       1794.54              163.14           Media  Sandalias - En venta
3        776.70              388.35            Baja   Pantalón - En venta
4       1836.80              183.68           Media    Zapatos - En venta

  CategoriaIngreso RangoVentas
0             Alto        Alto
1             Bajo        Bajo
2             Bajo       Medio
3             Bajo    Muy Bajo
4             Bajo        Bajo